.white{
  color: white;
}
.bk-white{
  background-color: white;
}
.bk-base{
  background-color: #1c78ef;
}
.eachStep{
  padding: 10px
}
.nameTitle{
  font-size: 30px
}
.stepGif {
  padding:0px;
  text-align: center;
}
.stepName{
  font-size: 20px
}
.fullGif{
  padding-top: 60px;
  text-align: center;
}