{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
<script>
</script>
<div class="row">
    <div class="col-md-12">
        <span class="bold darkgray stepName welcome">Welcome to the Interactive Parking Tutorial!</span>
    </div>
</div>
<div class="row start">
    <div class="col-md-2">
        <a href='/learn/0'>
            <button class = "startbutton" id='nextl'>Start Learning!</button>
        </a>
    </div>
    <div class="col-md-2">
        <a href='/quiz/0'>
            <button class = "startbutton" id='nextq'>Start Quiz!</button>
        </a>
    </div>
</div>
{% endblock %}