{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
<script>
</script>
<div class="row">
    <div class="col-md-12">
        <span class="bold darkgray stepName welcome">Interactive Parking Tutorial!</span>
    </div>
</div>
<div class="row start">
    <div class="col-md-2">
        <a href='/learn/0/1'>
            <button class = "startbutton" id='nextl'>Get Started!</button>
        </a>
    </div>
    <div>
        <img src="car.png" width=50%>
    </div>
</div>
{% endblock %}