{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
<script>
</script>



<div class="row">
    <div class="col-md-12">
        <span class="welcomeInteractive">Interactive Parking Tutorial</span>
    </div>
    <a href='/learn/0/1'>
        <button class = "startbutton float-right" id='nextl'>Start With Forwards</button>
    </a>
    
</div>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-3">
        <div class="iconHome">
            <a href='/learn/0/1'>
            <span class="welcome">Forwards</span>
            <img class = "homeImage "src="https://github.com/tiffanymcbrayer/teaching_parking/blob/Tiffany/img/learnGifs/forwardsImg.png?raw=true" 
            >
        </div>
    </div>

    <div class="col-md-3">
        <div class="iconHome">
            <a href='/learn/1/1'>
            <span class="welcome">Reverse</span>
            <img class = "homeImage "src="https://github.com/tiffanymcbrayer/teaching_parking/blob/Tiffany/img/learnGifs/reverseImg.png?raw=true">
        </div>
    </div>

    <div class="col-md-3">
        <div class="iconHome">
            <a href='/learn/2/1'>
            <span class="welcome">Angled</span>
            <img class = "homeImage "src="https://github.com/tiffanymcbrayer/teaching_parking/blob/main/img/learnGifs/angledImg.png?raw=true">
        </div>
    </div>

    <div class="col-md-3">
        <div class="iconHome">
            <a href='/learn/3/1'>
            <span class="welcome">Parallel</span>
            <img class = "homeImage "src="https://github.com/tiffanymcbrayer/teaching_parking/blob/main/img/learnGifs/parallelImg.png?raw=true">
        </div>
    </div>
</div>


<body>
{% endblock %}