<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">
  <!-- Jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<title>Parking</title>

<body class="" style="background-color:rgb(190, 194, 197)">

  <!-- <nav class="navbar navbar-expand-lg navbar-dark navbar-custom"> -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Parking Tutorial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="/learn/0/1" data-bs-toggle="dropdown"> Learn </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/learn/0/1">Forwards Parking</a></li>
              <li><a class="dropdown-item" href="/learn/1/1">Reverse Parking</a></li>
              <li><a class="dropdown-item" href="/learn/2/1">Angled Parking</a></li>
              <li><a class="dropdown-item" href="/learn/3/1">Parallel Parking</a></li>
            </ul>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/quiz/0"> Quiz</a> </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='container'>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>