{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>

<script>
    let ordnum = '{{parkingType.ord}}'
    let currstep = '{{step[0]}}'
    let laststep = '{{parkingType.numsteps}}'
    let prevLessonSteps = '{{prevType.numsteps}}'
    let lessonName = '{{parkingType.name}}'
    let prevName = '{{prevType.name}}'
</script>


<body style="background-color:#f8f8ff;">

<div class="row topMar">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 blockBackground">
            <div class="nameTitle">
                {{parkingType.name}}
            </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2 prev">
    </div>
    <div class="col-md-8 blockBackground">
            <div class="stepGif">
                <img src={{step[2]}} class = "freezeframe">
            </div>
    </div>
    <div class="col-md-2 next">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 stepName">
            {% if step[0] != lastStep%}
                 Step {{step[0]}}
            {% endif %}
            {% if step[0] == lastStep%}
                 Summary GIF
            {% endif %}
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 stepExp">
        {% if step[0] != lastStep%}
            {{step[1]}}
        {% endif %}
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 tipDiv">
        {% if step[0] == lastStep%}
            <div id="tipDivId" class = "tipButtonClass">
            {% for tip, img in parkingType.tips %}
                <div class = "eachTip">
                    <span class = "tip">
                        {{tip}}
                    </span>
                        <img src={{img}} class = "tipImage">
                </div>
                {% endfor %} 
            </div>   
        {% endif %}
    </div>
    <div class="col-md-2">
    </div>
</div>
</body>
{% endblock %}