{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>

<script>
    let ordnum = '{{parkingType.ord}}'
    let currstep = '{{step[0]}}'
    let laststep = '{{parkingType.numsteps}}'
    let prevLessonSteps = '{{prevType.numsteps}}'
    let lessonName = '{{parkingType.name}}'
    let prevName = '{{prevType.name}}'
</script>

<div class = "container topmar">
    <br>
    
    <!-- prev button -->
    <div class="col-md-1 prev1">
        <div class="prev">
        </div>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-8 stepContainer bk-white">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <!-- parking name -->
            <div class="col-md-10">
                <div class="nameTitle">
                    {{parkingType.name}}
                </div>
            </div>

            <!-- video -->
            <div class="stepGif">
                <img src={{step[2]}} class = "freezeframe">
            </div>

            

            <!-- step explanation -->
            <div class="col-md-2">
                <!-- Step # -->
                <div class="stepName darkgray">
                    {% if step[0] != lastStep%}
                        Step {{step[0]}}
                    {% endif %}
                    {% if step[0] == lastStep%}
                        Summary GIF
                    {% endif %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="stepExp">
                    {% if step[0] != lastStep%}
                        {{step[1]}}
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-md-1">
        </div>
        
    </div>

    <div class="col-md-1">
    </div>

    <!-- next button -->
    <div class="col-md-1 next1">
        <div class="next">
        </div>
    </div>
</div>
</body>
{% endblock %}