{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script>
    let ordnum = '{{parkingType.ord}}'
</script>
<div class="row">
    <div class="col-md-6">
        <div class="nameTitle">
            {{parkingType.name}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12"> 
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="stepName">
                {% if step[0] != lastStep%}
                    Step {{step[0]}}
                {% endif %}
            </div>
            <div class = "stepExp">
                {{step[1]}}
            </div>
            <div class="stepGif">
                <img src={{step[2]}}>
            </div>
        </div>
        <div class="col-md-3">
            {% if step[0] == lastStep%}
                {% for tip, img in parkingType.tips %}
                    <div class = "tip">
                        <div>
                            {{tip}}
                        </div>
                        <div class = tipImg>
                            <img src={{img}} width = 60%>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-md-2 prev">
    </div>
    <div class="col-md-9">
    </div>
    <div class="col-md-1 next">
    </div>
</div>

{% endblock %}