{% extends "layout.html" %}

{% block content %}
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz2.js') }}"></script>
<script>
    let ordnum = '{{parkingType.ord}}'
</script>

<div id="goal">
    <div class="row">
        <div class="col-md-6">
            <div class="nameTitle">
                {{parkingType.name}}
            </div>
        </div>
    </div>

    <div class="row nondrop">
        <div class="col-6 drop stepsdiv">
            <div class="row bluebox stepbox">
                <span class="title2">Steps</span>
            </div>
            {% for num, step, gif in parkingType.steps %}
            <div class="row stepdetail namebox" data-step="{{num}}">
                <span>{{step}}</span>
            </div>
            {% endfor %}
        </div>
        <div class="col-6 droporder drop">
            <div class="row bluebox">
                <span class="title2">Order Here</span>
            </div>
            {% for num, step, gif in parkingType.steps %}
            <div class="row stepdetail dropbox" data-order="{{num}}">
                <span>Step {{num}}</span>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row buttons">
        <button class='quizButtons' id='showresult'>See Results</button>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="fullGif">
                <div class="text hint">Hover here to see hint!</div>
                <div class='overlay'>
                    <img src={{parkingType.fullGif}} width=60%>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2 prev">
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2 next">
        </div>
    </div>
</div>
{% endblock %}