{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let total = '{{total_num}}'
    let q_num = '{{q_num}}'
    let response = {{ response|tojson }}
    let question = {{ question|tojson }}
</script>

<div class="row">
Quiz
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row" id="goal">
            <span class="bold darkgray">
                Goal: 
            </span>
        </div>
        <div class="row" id="question"> 
        </div>
        <div class="row" id="question-img"> 
        </div>
    </div>
    <div class="col-md-6">
        {% if q_num %}
            {{q_num}}/{{total_num}}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="row" id="A-img">
        </div>
        <div class="row" id="A-text"> 
        </div>
        <div class="row buttons" id="A-button"> 
            <!-- <button id="A">A</button> -->
        </div>
    </div>
    <div class="col-md-2 ml-5">
        <div class="row" id="B-img">
        </div>
        <div class="row" id="B-text"> 
        </div>
        <div class="row" id="B-button" class="buttons"> 
            <!-- <button id="B">B</button>-->
        </div>
    </div>
    <div class="col-md-2 ml-5">
        <div class="row" id="C-img">
        </div>
        <div class="row" id="C-text"> 
        </div>
        <div class="row buttons" id="C-button"> 
            <!-- <button id="C">C</button> -->
        </div>
    </div>
    <div class="col-md-2 ml-5">
        <div class="row" id="D-img">
        </div>
        <div class="row" id="D-text"> 
        </div>
        <div class="row buttons" id="D-button"> 
            <!-- <button id="C">C</button> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div id='answer' class="row">

        </div>
        <div id='next-button' class="row">
        </div>
    </div>
</div>

{% endblock %}