{% extends "layout.html" %}

{% block content %}
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz2.js') }}"></script>
<script>
    let ordnum = '{{parkingType.ord}}'
    let q_num = '{{q_num}}'
    let total = '{{total_num}}'
</script>

<div class="container stepContainer bk-white" id="goal">
    <div class="row">
        <div class="col-md-6">
            <div class="nameTitle">
                {{parkingType.name}}
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1 darkgray nameTitle">
            {% if q_num %}
            {{q_num}}/{{total_num}}
            {% endif %}
        </div>
    </div>

    <div class="row nondrop leftMar">
        <div class="col-1 drop stepsdiv">
            <div class="row bluebox stepbox">
                <span class="title2">Steps</span>
            </div>
            {% for num, step, gif in parkingType.steps %}
            <div class="row stepdetail namebox" data-step="{{num}}">
                <div id="badge-ribbon" class="dragbox" data-step="{{num}}">
                    <span class="ordernum">{{num}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-5 droporder drop detailsdiv">
            <div class="row bluebox">
                <span class="title2">Order Here</span>
            </div>
            {% for num, step, gif in parkingType.steps %}
            <div class="row stepdetail dropbox" data-order="{{num}}">
                <span class="centering">{{step}}</span>
            </div>
            {% endfor %}
        </div>
        <div class="col-6 centeralign">
            <div class="title2 hint">Hover below to see hint!</div>
            <div class="fullGif">
                <div class='overlay'>
                    <img class='hintgif' src={{parkingType.fullGif}} width=100% heihgt="auto">
                </div>
            </div>
        </div>

    </div>

    <br>

    <div class="row centeralign buttons">
        <!-- <div class="col-6"> </div> -->
        <!-- <div class="col-3"> -->
        <button class='quizButtons' id='showresult'>See Results</button>
        <!-- </div> -->
    </div>
    <!-- <div class="row centeralign buttons">

    </div> -->

    {% endblock %}