{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let total = '{{total_num}}'
    let q_num = '{{q_num}}'
    let end_quiz = '{{end}}'
    let QUIZ_NUM = '{{total_num}}'
    let response = {{ response| tojson }}
    let question = {{ question| tojson }}
</script>
<div class="col-md-12 mcContainer bk-white">
    <div class="row nameTitleQuiz base">
        Quiz
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row leftMar" id="goal">
                <span class="bold darkgray stepNameQuiz">
                    Goal:
                </span>
            </div>
            <br>
            <div class="row leftMar" id="question">
            </div>
            <div class="row leftMar" id="question-img">
            </div>
            <div class="row"></div>
            <div class="row topMarSmall">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="row leftMar" id="A-img">
                    </div>
                    <div class="row" id="A-text">
                    </div>
                    <div class="row buttons" id="A-button">
                        <!-- <button id="A">A</button> -->
                    </div>
                </div>
                <div class="col-md-4 ml-5">
                    <div class="row leftMar" id="B-img">
                    </div>
                    <div class="row" id="B-text">
                    </div>
                    <div class="row" id="B-button" class="buttons">
                        <!-- <button id="B">B</button>-->
                    </div>
                </div>
            </div>
            <div class="row topMarSmall">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="row leftMar" id="C-img">
                    </div>
                    <div class="row" id="C-text">
                    </div>
                    <div class="row buttons" id="C-button">
                        <!-- <button id="C">C</button> -->
                    </div>
                </div>
                <div class="col-md-4 ml-5">
                    <div class="row leftMar" id="D-img">
                    </div>
                    <div class="row" id="D-text">
                    </div>
                    <div class="row buttons" id="D-button">
                        <!-- <button id="C">C</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 stepNameQuiz">
            <span class="progressQuiz lightgray">
                {% if q_num %}
                {{q_num}}/{{total_num}}
                {% endif %}
            </span>
            <div class="row topMarSmall">
                <div class="col-md-10">
                    <div id='answer' class="row leftMar">
        
                    </div>
                    <div id='answer-img' class="row leftMar">
        
                    </div>
                    <div id='next-button' class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>

{% endblock %}